.fulllength{
    font-family: 'Nunito';
    color: #00000030;
}
.snapimage img {
    width: 100%;
    height: 100%;
}

.heading h1{
    font-size: 1.625em;
    font-weight: 600;
    margin-bottom: 10px;
}

.welcome p{
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 5px;
    font-weight: 400;
}

.ClientsRelease{
    padding-top: 30px;
}

a{
    color: #00000030;
    font-size: 3em;
}


////////////////Transforming section/////////
.fulllength1{
    font-family: 'Nunito';
    color: #000000;
    margin-bottom: 4.375em;
}

.transforming {
    font-weight: 600;
    font-size: 1.90em;

}

.Features{
    font-weight: 600;
    font-size: 2.1em;
}

.PromiseCreation{
    font-weight: 600;
    font-size: 1.95em;
}

.NetworkTransparency{
    font-weight: 600;
    font-size: 1.95em;
}

.Snap-Promise img {
    width: 100%;
    height: 100%;
}

.WhySnap{
    font-weight: 600;
    font-size: 2.1em;
}

i.fa-solid {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.55em;
    margin-left: 10px;
    margin-top: 0.875em;
    margin-bottom: 4.375em;
  }

  i.fa-solid:hover{
    background-color: #3d3d3d;
    color: #ffff;
  }

  .nparrow {
    display: flex;
    font-size: .75em;
    color: #aaa;
    margin-top: 0;
}
.previous{
    margin-left: 30px;
}
.previous h4 {
    margin: 0px;
    font-size: 1.25em;
    font-weight: 500;
    white-space: nowrap;
    min-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #505050;
}

.previoustext{
    font-size: 0.4em;
    color: #aaa;
    margin-bottom: 4px;
    margin-top: 0;
}

.relatedproject{
    margin-top: 0em;
    margin-bottom: 4.375em;
    padding-bottom: 0;
}

.Relatedtitle{
    font-family: 'Nunito';
    font-weight: bold;
    margin-bottom: 2.1875em;
}

.esyncMate a img{
    max-width: 100%;
    max-height: 100%;
}

.entrytitle{
    font-size: 0.85em;
    font-weight: 500;
}

.vcard{
    color: #000000;
    font-size: 0.35em;
}