<div class="section ">
    <div class="container">
        <div class="row  ">
            <div class="col-lg-8 col-md-4 col-12 fulllength">
                <div class="snapimage">
                <img src="../../../assets/img/SnapPromise/SnapPromise1.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 ">
                <div class="heading">
                    <h1>Snap Promise</h1>
                </div>
                <div class="welcome">
                    <p>Welcome to Snap Promise, a groundbreaking application developed by eSoftage. In this innovative platform, individuals can forge promises, solidifying agreements and enhancing trust in business dealings. At the heart of Snap Promise lies the unique feature of visualizing promises made within your network, creating a transparent and accountable environment.</p> 
                </div>
                <div class="">
                    <!-- <div id="heart" title="Set as Favorite" style="color: red;" onclick="javascript:setMyFavorite();">&#9825;</div> -->
                    <!-- <a href="#" class="like">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </a> -->
                    <div class="ClientsRelease">
                        <dl>
                            <dt>Client</dt>
                            <dd>https://www.cynazinc.com/</dd>
                        
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-10 md-10 col-12 fulllength1">
                <h2 class="transforming ">Transforming Commitments into Certainties</h2>
                <h2 class="Features"><strong>Key Features:</strong></h2>
                <h3 class="PromiseCreation">1. <strong>Promise Creation</strong></h3>
                <p class="Seamlessly">Seamlessly create promises within your network, offering a clear and structured commitment to your business dealings.</p>
                <h3 class="PromiseCreation">3. <strong>Mutual Satisfaction</strong></h3>
                <p>Snap Promise ensures that both parties are satisfied before a commitment is made, fostering a culture of trust and accountability.</p>
                <h3 class="PromiseCreation">4. <strong>Streamlined Communication</strong></h3>
                <p>Enhance communication and negotiation by visualizing promises, making it easier to track and fulfill obligations.</p>
                <div class="Snap-Promise">
                    <img class="Snap-Promise" src="../../../assets/img/SnapPromise/Snap-Promise.png" alt="">
                </div>
                <h2 class="WhySnap"><strong>Why Snap Promise Matters:</strong></h2>
                <h3 class="PromiseCreation"><strong><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-black-color">Build Trust</mark></strong></h3>
                <p>The foundation of any successful business relationship is trust. Snap Promise brings transparency to commitments, fostering trust and reliability.</p>
                <h3 class="PromiseCreation"><strong>Efficiency</strong></h3>
                <p>With a clear view of promises made, users can efficiently manage their business engagements, reducing misunderstandings and disputes.</p>
                <h3 class="PromiseCreation"><strong>Networking Power</strong></h3>
                <p>Leverage the strength of your network by engaging in commitments that matter. Snap Promise facilitates meaningful connections and collaborations.</p>
                <h3 class="PromiseCreation"><strong>User-Centric Design</strong></h3>
                <p>Our application is crafted with the user in mind, ensuring a seamless and intuitive experience for making and managing promises.</p>
                <p>Join the growing community of individuals and businesses redefining commitments with Snap Promise. Experience a new level of trust and efficiency in your business dealings. Explore Snap Promise today – where promises meet innovation.”</p>

            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#/ESyncMate">
                    <div class="nparrow">
                        <i class="fa-solid fa-arrow-right"></i>
                        <div class="previous">
                            <p class="previoustext">Previous Portfolio</p>
                            <h4 class="eSyncMate">eSyncMate</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container relatedproject">
        <div class="row">
            <div class="col-8">
                <h3 class="Relatedtitle">Related Projects/Works</h3>
                <div class="twoimgae">
                    <div class="esyncMate">
                        <a href="#/ESyncMate">
                            <img src="../../../assets/img/SnapPromise/eSyncmatelink.jpg" alt="">
                            <div class="eSyncMate">
                                <h4 class="entrytitle">eSyncMate </h4>
                            </div>
                            <div class="entry-info"> 
                                <span class="author vcard"> 
                                    by ph19624393461_qp3vu606
                                </span>
                            </div>
                        </a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
