 .nav-link .span{
    color: #000;
}
.navbar-toggler {
    padding: 0.5rem 0.75rem !important;
    font-size: large;
    line-height: 1;
    background-color: #243b4f !important;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar {
    height: 83px;
    border: 0;
    font-size: 14px;
    transition: all .4s;
    -webkit-transition: all .4s;
    padding: 0;
    background: #FFFFFF !important;
    box-shadow: none !important;
}

// .carousel-control-prev{
//     ;
// }