<!-- <div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/aboutus.jpg');"> -->
    <div class="page-header" data-parallax="true" >
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
          
            <div class="row" style="margin-top: 40px;">
                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card" >
                        <img src="../../../assets/img/ICONS/placeholder.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="snappromise">
                                <p>ADDRESS</p>
                            </div>
                          <p class="card-text">Suite # 304, 3rd Floor,</p>
                          <p class="card-text">Divine Mega II, New</p>
                          <p class="card-text">Airport Road Lahore -</p>
                          <p class="card-text">Pakistan.</p>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/ICONS/iphone.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="snappromise1">
                                <p>Contact</p>
                        </div>
                          <p class="card-text">+(92) 42- 35700173 </p>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/ICONS/event.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="snappromise2">
                                <p>WORKING</p>
                            </div>
                          <p class="card-text">Monday - Friday </p>
                          <p class="card-text">09.00 - 18.00 EST</p>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/ICONS/mail.png" class="card-img-top" alt="...">
                        <!-- <span class="material-symbols-outlined" style="height: 100px; width: 100px;">
                            mail
                            </span> -->
                        <div class="card-body">
                            <div class="snappromise3">
                                <p>EMAIL ADDRESS</p>
                            </div>
                          <p class="card-text">support@esoftage.com</p>
                        </div>
                      </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="section lightner">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="ContactUs">Contact Us</h2>
                    <h3><span class="headbefore">Contact us for further queries</span></h3>
                    <div class="headingdescription"><p>We offer ongoing support and training to ensure you get the most out of our Products.</p></div>
                </div>
                <div class="col-6">
                    <div class="">
                        <img src="../../../assets/img/ContactUs.webp" alt="">
                    </div>
                    <!-- <form >
                        <div class="form-group YourName ">
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name*">
                        </div>
                        <div class="form-group YourName controlinput5">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email*">
                          </div>
                          <div class="form-group YourName controlinput5">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
                          </div>
                        <div class="form-group Message12 controlinput5">
                          <textarea  class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message*"></textarea>
                        </div>
                      </form> -->
                      <!-- <input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="SEND MESSAGE"> -->
                </div>
            </div>
        </div>
    </div>     
    </div>





















<!-- <div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Welcome</h3>
                          <div class="social-line text-center">
                              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                  <i class="fa fa-google-plus"></i>
                              </a>
                              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                          <form class="register-form">
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                              </div>

                              <label>Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                              <button class="btn btn-danger btn-block btn-round">Register</button>
                          </form>
                          <div class="forgot">
                              <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
                </div>
            </div>
    </div>
</div> -->
