<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../../../assets/img/images.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <!-- <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div> -->
                <div class="name">
                    <h4 class="title">Our Services</h4>
                    <h1 class="description" >We're Here To Streamline Your</h1>
                    <h1 class="Excellence"> Business Excellence</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 40px;">
                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card" >
                        <img src="../../../assets/img/examples/Software-Development.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Software Development</h5>
                          <p class="card-text">We specialize in the art of software development with unique ideas and business needs into functional, user-friendly, and cutting-edge applications.</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a
                  href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/examples/MobileAppDevelopment.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mobile App Development</h5>
                          <p class="card-text">Transform your ideas into mobile realities with our expert mobile app development services.</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a
                          href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/examples/APIIntegration.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">API Integration</h5>
                          <p class="card-text">Seamlessly connect and streamline your business operations with our API Integration solutions.</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a
                          href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/examples/EDI-Integration.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">EDI Integration</h5>
                          <p class="card-text">Seamlessly connect and streamline your business operations with our API Integration solutions.
                            
                          </p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a
                          href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/examples/OnlineMarketing.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BlockChain</h5>
                          <p class="card-text">Boost your online presence and drive results with our online marketing expertise.</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a
                          href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/examples/DigitalBranding.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IOT Integration</h5>
                          <p class="card-text">Elevate your brand's digital presence and leave a lasting impact with our strategic digital branding solutions."</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a
                          href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/examples/ERPIntegration.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">ERP Integration</h5>
                          <p class="card-text">Seamlessly integrate and optimize your business processes with our expert ERP Integration solutions.</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a
                          href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>

                <div class="Services1 col-3  col-md-3 col-12">
                    <div class="card">
                        <img src="../../../assets/img/examples/WebsiteDevelopment.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Website Development</h5>
                          <p class="card-text">Crafting tailored web solutions for your digital success, Coding the future of your online presence - one pixel at a time.</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          <a (click)="toggleEditMode()"
                          href="#/user-profile"
                  class="text-link-arrow fromLeft"
                >
                  Learn more
                  <span class="arrow-right">&nbsp;</span>
                </a>
                        </div>
                      </div>
                </div>
            </div>
           
        </div>
        <div class="container hidden"  [ngClass]="{'unhidden': isEditMode, 'hidden': !isEditMode}" style="margin-top: 50px;">
            <div class="row">
                <div class="col-7 col-md-7 col-12">
                  
                       
                        <div class="name">
                            <h4 class="title">Our Approach</h4>
                            <h1 class="Company" >Our Company Is Here To</h1>
                            <h1 class="Help">Help You</h1>
                        </div>

                </div>
                <div class="col-5 col-md-5 col-12">
                   <div class="atrraction">
                    <img src="../../../assets/img/examples/attractive-young-woman.jpg" alt="">
                   </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
             <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div> -->
    </div>
</div>
