.contact{
    padding: 40px 40px 0px 0px;
    font-size: 30px;
   font-weight: bold;
}

.Divine p{
    font-size: 13px;
    margin-top: 20px;
    padding: 0 83px 0px 0;
}
.Divine{
    font-family: "Poppins",Sans-serif;
}
.copyright p{
    text-align: center;
}

.esoftage img{
    margin-bottom: 30px;
    margin-top: 40px;
}
.WitheSoftage p{
    width: 434px;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.aux-modern-heading-divider {
    height: 4px;
    width: 50px;
    margin-top: 20px;
    background-color: transparent;
    background-image: linear-gradient(270deg,#54595f,#6ec1e4);
    border-radius: 15px
}