<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-8 col-12 Divine">
                <div class="esoftage">
                    <img src="../../../assets/img/eSoftage-logo.png" alt="" >
                </div>
                <div class="WitheSoftage" >
                    <p>
                        With eSoftage, you’re not just investing in software; you’re investing in the future of your business. Join the ranks of businesses that have embraced digital transformation and experienced unprecedented growth. Discover the eSoftage advantage today.
                    </p>
                </div>
            </div>
            <div class="col-4 col-md-4 col-12 text1">
                <div class="contact">Contact</div>
                <div class="aux-modern-heading-divider"></div>
                <div class="Divine">
                    <p>Suite # 304, 3rd Floor, Divine Mega II, New Airport Road Lahore - Pakistan.</p>
                </div>
                <div class="Divine">
                    <p>support@esoftage.com</p>
                </div>
                <div class="Divine">
                    <p>+92 (42) 35700173</p>
                </div>


                
            </div>


            <div class="container " >
                <div class="row">
                    <div class="col-12">
                        <span class="copyright" style="text-align: center;margin: auto 0 ">

                            <p>© {{test | date: 'yyyy'}} . All Rights Reserved.</p>
                            <!-- <p>© {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by eSoftage</p> -->
                        </span>
                    </div>
                </div>
            </div>
            <!-- <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                </span>
            </div> -->
        </div>
    </div>
</footer>
